*.min.js
*.wav
*.json
*.reapeaks
javascript/webApp/node_modules/*
javascript/webApp/performance-client/node_modules/*
javascript/webApp/performance-client/src/osm-style.css
javascript/webApp/performance-client/src/meyda.js
javascript/webApp/performance-client/src/meyda.js.map
*/meyda/*
*.png
*.js.map
*/notes.txt
