
html{
  width:100%;
  height: 100%;
  font-family: Helvetica;
}

body{
  width: 100%;
  height: 100%;
}

#map{
  width: 95%;
  height: 95%;
  z-index: 1;
  border: 3pt-solid-black;
  position: absolute;
}



ul{
  padding:0px;
}


.params, input {
  width:40px;
}

.computation, input{
  width: 40px;
}

select {
  border-radius:5px;
}

/* contains everything about the connectable */
.connectableInfoContainer {
  background-color: rgb(70,70,70,0.4);
  padding:5px;
  margin:2px;
  width:95%;
  /* height: 100%; */
  /* overflow-y: scroll; */
  border-radius: 5px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

.connectableInfoContainer:hover{
  background-color: rgb(250,150,150,0.4);
}

/* For hiding and showing */
.connectableInfo{
  background-color: rgb(200,200,200,0.4);
  display:none;
  border-radius: 5px;
  padding:2px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

.connectionInfoContainer{

}


#cmdBox{
  height: 30%;
  overflow-y: scroll;
  overflow-x: auto;
  z-index: 2;
  padding:1%;
  background-color: rgb(150,150,150,0.5);
  position: absolute;
  top:5%;
  right:5%;
  border-radius: 5px;
}

#container{
  /* position:relative; */
}


/* #svgContainer{
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
} */
